
<div class='about-view'>
  <h1>關於這裡</h1>

  {{#if flash}}
  <div class='alert'>
    {{flash}}<span class='btn-close-alert'>x</span>
  </div>
  {{/if}}

  <p>A place where everyone can release his/her stress!</p>

  <ul class='list-about'>
    <li class='list-header'>統計資料</li>
    <li class='list-item'>
      <span class='list-item-name'>文章總數</span>
      <span class='list-item-value'>{{postCount}}/{{allPostCount}}</span>
    </li>
    <li class='list-item'>
      <span class='list-item-name'>使用者人數</span>
      <span class='list-item-value'>{{userCount}}</span>
    </li>
  </ul>

  <p style='color: indianred;'>* THIS WEB APP IS FOR DEMO PURPOSE.</p>

  <p>
    This web app is made by Roy Lu(royvbtw).<br/>
    <a href='https://github.com/royvbtw/grumbler'>Github project</a><br/>
    <a href='https://royvbtw.uk/'>royvbtw.uk</a><br/>
  </p>

  <p>24T1755</p>
</div>
