<h1>關於這裡</h1>

<p>A place where everyone can release his/her stress!</p>

<div class='panel'>
<div class='panel-title'>統計資料</div>
<div class='panel-item'>文章總數: {{postCount}}/{{allPostCount}}</div>
<div class='panel-item'>使用者人數: {{userCount}}</div>
</div>


<p style='color: indianred;'>* THIS WEB APP IS FOR DEMO PURPOSE.</p>

<p>
This web app is made by Roy Lu(royvbtw).<br/>
<a href='https://github.com/royvbtw/grumbler'>Github project</a><br/>
<a href='https://royvbtw.uk/'>royvbtw.uk</a><br/>
</p>