
<div class='block-container'>
<a class='block'>
	<div class='block-icon'><img class='icon' src='img/icon-angry.png'></div>
	<div class='block-caption'>覺得很不爽嗎?</div>
	<div class='block-extra'>煩心事頗多</div>
</a>
<a class='block'>
	<div class='block-icon'><img class='icon' src='img/icon-mood.png'></div>
	<div class='block-caption'>想換個心情?</div>
	<div class='block-extra'>How can I do that?</div>
</a>
<a class='block' href='/register'>
	<div class='block-icon'><img class='icon' src='img/icon-grumbling.png'></div>
	<div class='block-caption'>適當抱怨，釋放壓力</div>
	<div class='block-extra'>註冊帳號</div>
</a>
<a class='block' href='/login'>
	<div class='block-icon'><img class='icon' src='img/icon-add-persion.png'></div>
	<div class='block-caption'>立刻登入發洩怒氣</div>
	<div class='block-extra'>登入帳號</div>
</a>
<a class='block x2 ' href='/list'>
	<div class='block-icon'><img class='icon' src='img/icon-star.png'></div>
	<div class='block-caption'>Let's Grumbling!<br/>更多的負能量，做好準備!</div>
	<div class='block-extra'>『這是好所在』</div>
</a>
</div>

<script>
	

/*
'use strict';
var screenHeight = $(window).height();
console.log('screen height=', screenHeight);
var blockWidth, blockHeight;
blockWidth = blockHeight = Math.floor(screenHeight / 2) - 10;
//var blockWidth = Math.floor($('.block').width());
var blockIconHeight = Math.floor(blockWidth * 0.6);
var blockInfoHeight = Math.floor(blockWidth * 0.4);
var iconWidth = Math.floor(blockWidth * 0.25);

$('.block').each(function(){
	$(this).css({'height': blockWidth + 'px', 'width': blockWidth});
	$(this).find('.block-icon').css({'min-height': blockIconHeight + 'px'});
	$(this).find('.block-info').css({'min-height': blockInfoHeight + 'px'});
});
$('.block.x2').each(function(){
	$(this).css({'height': blockWidth + 'px', 'width': blockWidth * 2});
});
$('.icon').each(function(){
	$(this).css({'height': iconWidth + 'px', 'width': iconWidth});
});


*/
</script>


