
<div class='tile-container'>
  <a class='tile'>
    <div class='tile-icon'><img class='icon' src='img/icon-angry.png'></div>
    <div class='block-caption'>覺得很不爽嗎?</div>
    <div class='block-extra'>煩心事頗多</div>
  </a>
  <a class='tile'>
    <div class='tile-icon'><img class='icon' src='img/icon-mood.png'></div>
    <div class='block-caption'>想換個心情?</div>
    <div class='block-extra'>How can I do that?</div>
  </a>
  <a class='tile' href='/register'>
    <div class='tile-icon'><img class='icon' src='img/icon-grumbling.png'></div>
    <div class='block-caption'>適當抱怨，釋放壓力</div>
    <div class='block-extra'>註冊帳號</div>
  </a>
  <a class='tile' href='/login'>
    <div class='tile-icon'><img class='icon' src='img/icon-add-persion.png'></div>
    <div class='block-caption'>立刻登入發洩怒氣</div>
    <div class='block-extra'>登入帳號</div>
  </a>
  <a class='tile x2 ' href='/list'>
    <div class='tile-icon'><img class='icon' src='img/icon-star.png'></div>
    <div class='block-caption'>Let's Grumbling!<br/>更多的負能量，做好準備!</div>
    <div class='block-extra'>『這是好所在』</div>
  </a>
</div>
