
<div class='home-view'>


{{#if flash}}
<div class='alert'>
  {{flash}}<span class='btn-close-alert'>x</span>
</div>
{{/if}}

<div class='content'>
  <h1 class='display-4'>ASCII ARTS小展覽</h1>
  貼出您的文字藝術<br/>
  Post and share your ascii arts
  <a class='btn-start' href='/post'>Let's GO</a>
</div>


</div>

