
.not-found-view{
  min-height: 100vh;
  background-color: rgba(50, 50, 50, 0.9);
  color: snow;
  text-align: center;
}

p{
	text-align: center;
}

.navi{
	display: inline-block;
	border: 0px solid lightgray;
	border-radius: 5px;
	padding: 10px;
}

.navi-button{
	display: inline-flex;
	width: 100px;
	height: 60px;
	margin: 10px;
  background-color: darkslategrey;
	justify-content: center;
	align-items: center;
	color: snow;
	font-size: 16px;
	text-decoration: none;
	transition: all 500ms;
}
.navi-button:hover{
  color: grey;
  border-bottom: 10px solid darkorange;
  background-color: snow;
  text-decoration: none;
}
