
.register-view{
	margin: 0;
	background-color: rgba(50, 50, 50, 0.9);
	padding: 0 0 20px 0;
}

.login-view{
	min-height: 100vh;
	margin: 0;
	background-color: rgba(50, 50, 50, 0.9);
	padding: 0 0 20px 0;
}



form{
	display: block;
	width: 88%;
	margin: 10px auto;
	border: 1px solid grey;
	border-radius: 3px;
	background-color: rgba(160, 160, 160, 1);
	padding: 20px;
	color: snow;
	font-size: 14px;
	transition: all 500ms;
}
@media (min-width: 720px){
	form{
		width: 400px;
	}
}
@media (min-width: 1280px){
	form{
		width: 30vw;
	}
}

input[readonly]{
	cursor:default;
	color: gray;
	border: 0px;
}


label{
	width: 100%;
	display: block;
	text-align: left;
	margin: 3px 0px;
}

.cbLabel{
	display: inline-block;
	width: auto;
	line-height: 35px;
	padding: 0px 5px;
	border-radius: 5px;
	border: 1px solid snow;
	background-color: rgb(59, 176, 222);
	color: snow;
}

.cbLabel:hover{
	cursor: pointer;
	background-color: rgb(81, 184, 225);
}

.field{
	width: 100%;
	margin: 5px 0px;
	border: 1px solid snow;
	padding: 10px;
	color: grey;
	font-size: 14px;
	transition: all 500ms;
}
@media (min-width: 1280px){
	.field{
		font-size: 3vmin;
		line-height: 5vmin;
		height: 5vmin;
	}
}

.field:not([readonly]):focus{
	background-color: Moccasin;
	border: 1px solid snow;
	color: brown;
	outline: none;
}

.btn-submit{
	cursor: pointer;
	width: 100px;
	height: 45px;
	margin: 5px;
	box-shadow: none;
	border:1px solid gray;
	border-radius: 3px;
	outline: 0;
	background-color: rgba(160, 160, 160, 1);
	color: snow;
	text-shadow: none;
	transition: all 600ms;
}
.btn-submit:hover{
	background-color: snow;
	color: grey;
}