body{
  color: black;
  
}

h1{
	color: slategrey;
	background-color: initial;
	font-size: 30px;
	font-weight: 100;
}
@media (min-width: 720px){
	h1{
		font-size: 55px;
	}
}


.view-body{
	display: block;
	width: 100vw;
}
@media (min-width: 720px){
	.view-body{
		position: relative;
		width: 83vw;
    height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
    border: 0px solid red;
  }
}



.content{
	display: block;
	width: 90%;
	margin: 60px auto;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background-color: rgba(169, 169, 169, 0.90);
  padding: 20px;
  color: snow;
  font-size: 22px;
  text-align: left;
}
@media (min-width: 720px){
	.content{
		width: fit-content;
		font-size: 30px;
	}
}

.btn-start{
  display: block;
  width: fit-content;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: mediumvioletred;
  padding: 3px 10px;
  color: snow;
  text-decoration: none;
  transition: all 400ms;
}
.btn-start:hover{
  background-color: snow;
  color: grey;
  text-decoration: none;
}
