
.masonry{
	width: 100%;
	column-count: 1;
	-moz-column-count: 1;
	column-gap: 1em;
	-moz-column-gap: 1em;
	margin: 20px auto 0px;
	border: 0px solid blue;
	font-size: 15px;
}
@media (min-width: 720px){
	.masonry{
		font-size: 16px;
	}
}
@media (min-width: 1280px){
	.masonry{
		column-count: 1;
		-moz-column-count: 1;
		font-size: 17px;
	}
}

.link-author{
	color: snow;
	text-decoration: none;
	margin-right: 20px;
}
.link-author:hover{
	color: red;
}

.viewBody .post{
	display: inline-block;
	width: 90vw;
	border: 1px solid lightgrey;
	border-radius: 5px;
	background-color: snow;
	margin: 0 0 1vh;
	
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
	
	color: black;
	
	text-align: left;
	transition: all 500ms;
}
.viewBody .post:hover{
	border: 1px solid snow;
	box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 720px){
	.viewBody .post{
		display: block;
		width: 60vw;
		margin: 10px auto;
		border: 0px solid snow;
		border-right: 30px solid #396060;
		border-radius: 0px;
	}

	.viewBody .post:hover{
		border: 0px solid snow;
	}
}

.post .category{
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	
	width: 14vw;
	height: 14vw;
	/* background-color: rgb(128, 177, 179); */
	background-color: rosybrown;
	color: snow;
	font-size: 5vw;
}
@media (min-width: 720px){
	.post .category{
		width: 5vw;
		height: 5vw;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
		border: 2px solid rosybrown;
		background-color: snow;
		color: grey;
		font-size: 1.7vw;
	}
}

.post-content{
	display: block;
	border: 0px solid blue;
	padding: 10px;
	background-color: snow;
	font-family: Courier New, Courier, monospace;
}
@media (min-width: 720px){
	.post-content{
		width: 100%;
	}
}

.post-header{
	display: block;
	width: 100%;
	position: relative;
	border: 0px solid red;
}
@media (min-width: 1280px){
	.post-header{
		height: 5vw;
	}
}

.post-author{
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	
	width: 75vw;
	height: 7vw;
	/* background-color: rgb(159, 197, 198); */
	background-color: rosybrown;
	color: snow;
	/* font-size: 4vw; */
}
@media (min-width: 720px){
	.post-author{
		display: block;
		width: 100%;
		height: 2.5vw;
		border-left: 5.2vw solid snow;
		background-color: #396060;
		padding-left: 15px;
		/* font-size: 18px; */
		line-height: 2.5vw;
		opacity: 1;
	}
}

.post-title{
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	width: 75vw;
	height: 7vw;
	border: 0px solid rgba(0, 0, 0, 0.1);
/*	background-color: rgba(128, 178, 179, 0.8);*/
	background-color: antiquewhite;
	color: grey;
	/* font-size: 4vw; */
	font-weight: 100;
}
@media (min-width: 720px){
	.post-title{
		display: block;
		width: 100%;
		height: 2.5vw;
		border-left: 5.2vw solid snow;
		border-bottom: 1px solid #437070;
		background-color: #396060;
		padding-left: 15px;
		/* font-size: 16px; */
		color: snow;
		line-height: 2.5vw;
	}
}

.post .post-title.expired{
	background-color: PaleVioletRed;
}

.post-info{
	text-align: right;
}

.expired-post-note{
	float: right;
	font-style: italic;
}

.list-navi{
	display: block;
	position: relative;
	width: 100%;
	margin: auto;
	border: 0px solid orange;
	overflow: hidden;
}
@media (min-width: 720px){
	.list-navi{
		width: 50vw;
	}
}

.list-navi .navi-tile{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 5px 5px 5px 0;
	background-color: antiquewhite;
	color: grey;
	text-decoration: none;
}
@media (min-width: 720px){
	.list-navi .navi-tile{
		height: 5vw;
		padding: 10px;
		margin: 2px;
		background-color: lightgrey;
		color: snow;
		font-size: 1.2vw;
	}
}

.list-navi .title{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: lightgrey;
	
	color: snow;
	font-size: 8vw;
	font-weight: 100;
}
@media (min-width: 720px){
	.list-navi .title{
		float: left;
		clear: both;
		height: 5vw;
		margin: 2px;
		font-size: 2.5vw;
		
	}
}

.navi-button{
	transition: all 500ms;
}
@media (min-width: 720px){
	.navi-button{
		width: 7vw;
		padding: 0;
	}
}

.navi-button:hover{
	border: 1px solid lightgrey;
	background-color: lightsalmon;
	color: snow;
	border-radius: 25px;
}


.list-navi .page-number{
	font-weight: 100;
}
@media (min-width: 720px){
	.list-navi .page-number{
		position: fixed;
		right: 0;
		top: 0;
		width: 10vw;
		height: 10vw;
		margin: 0;
		font-size: 2vw;
		color: grey;
		background-color: rgba(220, 220, 220, 0);
	}
}

@media (min-width: 720px){
	.list-navi .page-info{
		width: 10vw;
		height: 5vw;
	}
}