
.masonry{
	width: 100%;
	column-count: 1;
	-moz-column-count: 1;
	column-gap: 1em;
	-moz-column-gap: 1em;
	margin: 20px auto 0px;
	border: 0px solid blue;
}
@media only screen and (min-width: 1024px){
	.masonry{
		column-count: 1;
		-moz-column-count: 1;
	}
}

.viewBody .post{
	display: inline-block;
	width: 90vw;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: snow;
	margin: 0 0 1vh;
	
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
	color: black;
	text-align: left;
	transition: all 500ms;
}
@media only screen and (min-width: 1024px){
	.viewBody .post{
		width: 50vw;
		font-size: 2.5vmin;
	}
}

.viewBody .post:hover{
	border: 1px solid snow;
	box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.1);
}

.post .category{
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	
	width: 14vw;
	height: 14vw;
	background-color: rgb(128, 177, 179);
	color: snow;
	font-size: 5vw;
}
@media only screen and (min-width: 1024px){
	.post .category{
		width: 5vw;
		height: 5vw;
		font-size: 1.8vw;
	}
}

.post-author{
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	
	width: 75vw;
	height: 7vw;
	background-color: rgb(159, 197, 198);
	color: snow;
	font-size: 4vw;
}
@media only screen and (min-width: 1024px){
	.post-author{
		width: 44.5vw;
		height: 2.5vw;
		font-size: 1.4vw;
	}
}

.post .content{
	display: none;
	padding: 10px;
	font-size: 4vw;
}
@media only screen and (min-width: 1024px){
	.post .content{
		font-size: 1.3vw;
	}
}

.post-header{
	cursor: pointer;
}

.post-title{
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	width: 75vw;
	height: 7vw;
	padding: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(128, 178, 179, 0.8);
	color: snow;
	font-size: 4vw;
}
@media only screen and (min-width: 1024px){
	.post-title{
		width: 44.5vw;
		height: 2.5vw;
		font-size: 1.4vw;
	}
}

.post .post-title.expired{
	background-color: PaleVioletRed;
}

.post .info{
	text-align: right;
}

.expired-post-note{
	float: right;
	font-style: italic;
}
